<div class="cc-view">
	<div class="cc-menu">
		<div class="cc-menu-header">
			<h4>系统设置</h4>
		</div>
		<div class="cc-menu-body">
			<div class="scroll-y">
				<div class="cc-menu-list">
					<dl class="cc-list-group">
						<dt>功能设置</dt>
						<dd ng-repeat="item in menuBar.menuList" ui-sref="{{item.sref}}"
							ng-class="{active: homeMenuActive.activeItem == item.id}">
							{{item.title}}<span class="badge">14</span>
						</dd>
					</dl>
					<dl class="cc-list-group">
						<dt>支持渠道</dt>
						<dd ng-repeat="item in menuBar.menuList" ui-sref="{{item.sref}}"
							ng-class="{active: homeMenuActive.activeItem == item.id}">
							{{item.title}}<span class="badge">14</span>
						</dd>
					</dl>
					<dl class="cc-list-group">
						<dt>账户</dt>
						<dd ng-repeat="item in menuBar.menuList" ui-sref="{{item.sref}}"
							ng-class="{active: homeMenuActive.activeItem == item.id}">
							{{item.title}}<span class="badge">14</span>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<div class="cc-content" ui-view="zcContent"></div>
</div>