<div class="zc-content-header">在线客服概况</div>
<div class="zc-content-body">
	<div class="panel-heading-title">
		<div class="panel-heading-title-div" style="margin-left: 24px">实时数据</div>
	</div>
	<ul class="zc-content-count-listBoxR">
		<li class="zc-content-count-listR">
			<div class="itemBoxt">
				<div class="item-numt" ng-bind="realTimeData.robotUserSize?realTimeData.robotUserSize:'0'"></div>
				<div class="item-titlet">机器人会话数</div>
			</div>
		</li>
		<li class="zc-content-count-listR">
			<div class="itemBoxt">
				<div class="item-numt" ng-bind="realTimeData.onlineUserSize?realTimeData.onlineUserSize:'0'"></div>
				<div class="item-titlet">人工会话数</div>
			</div>
		</li>
		<li class="zc-content-count-listR">
			<div class="itemBoxt">
				<div class="item-numt" ng-bind="realTimeData.waitUserSize?realTimeData.waitUserSize:'0'"></div>
				<div class="item-titlet">排队人数</div>
			</div>
		</li>
		<li class="zc-content-count-listR">
			<div class="itemBoxt">
				<div class="item-numt" ng-bind="realTimeData.adminSize?realTimeData.adminSize:'0'"></div>
				<div class="item-titlet">在线客服人数</div>
			</div>
		</li>
	</ul>
	<div class="panel-heading-title">
		<div class="panel-heading-title-div" style="margin-left: 24px">今日会话概况</div>
	</div>
	<ul class="zc-content-count-listBoxt">
		<li class="zc-content-count-listt" ng-click="total(listBoxt.total_ch);isActive = 1-1" ng-class="{active:isActive == 1-1}">
			<div class="itemBoxt" ng-click="itemIndex = $index">
				<div class="item-numt" ng-bind="listBoxt.total?listBoxt.total:'0'"></div>
				<div class="item-titlet" ng-bind="listBoxt.total_ch"></div>
			</div>
		</li>
		<li class="zc-content-count-listt" ng-click="robor(listBoxt.robot_ch);isActive = 1-2" ng-class="{active:isActive == 1-2}">
			<div class="itemBoxt" ng-click="itemIndex = $index">
				<div class="item-numt" ng-bind="listBoxt.robot?listBoxt.robot:'0'"></div>
				<div class="item-titlet" ng-bind="listBoxt.robot_ch"></div>
			</div>
		</li>
		<li class="zc-content-count-listt" ng-click="human(listBoxt.human_ch);isActive = 1-3" ng-class="{active:isActive ==1-3}">
			<div class="itemBoxt" ng-click="itemIndex = $index">
				<div class="item-numt" ng-bind="listBoxt.human?listBoxt.human:'0'"></div>
				<div class="item-titlet" ng-bind="listBoxt.human_ch"></div>
			</div>
		</li>
		<li class="zc-content-count-listt" ng-click="queue(listBoxt.queue_ch);isActive = 1-4" ng-class="{active:isActive == 1-4}">
			<div class="itemBoxt" ng-click="itemIndex = $index">
				<div class="item-numt" ng-bind="listBoxt.queue?listBoxt.queue:'0'"></div>
				<div class="item-titlet" ng-bind="listBoxt.queue_ch"></div>
			</div>
		</li>
		<li class="zc-content-count-listt" ng-click="leaveInQueue(listBoxt.leaveInQueue_ch);isActive= 1-5" ng-class="{active:isActive == 1-5}">
			<div class="itemBoxt" ng-click="itemIndex = $index">
				<div class="item-numt" ng-bind="listBoxt.leaveInQueue?listBoxt.leaveInQueue:'0'"></div>
				<div class="item-titlet" ng-bind="listBoxt.leaveInQueue_ch"></div>
			</div>
		</li>
	</ul>
	<div class="echart-div">
		<div id="serviceEchat" class="echart-table"></div>
	</div>
	<div class="panel-heading-title">
		<div class="panel-heading-title-div" style="margin-left: 24px">当前在线接待概况</div>
	</div>
	<div class="panel panel-default zc-c-table-scroll">
		<table class="table" style="white-space: nowrap;width: 99.9%">
			<thead class="table-item">
				<tr>
					<td class="item">#</td>
					<td class="item">客服</td>
					<td class="item">状态</td>
					<td class="item">实时接待人数</td>
				</tr>
			</thead>
			<tbody class="table-body">
				<tr class="customer-info" ng-repeat="items in customerList">
					<td class="item" ng-bind="($index+1)<=9? ('0'+($index+1)):($index+1)"></td>
					<td class="item" ng-bind="items.name+'/'+items.email" style="color: #0d81c0"></td>
					<td class="item" ng-if="items.status == '1'">在线</td>
					<td class="item" ng-if="items.status == '2'">忙碌</td>
					<td class="item" ng-bind="items.count"></td>
				</tr>
			</tbody>
		</table>
		<zc-nodata is-nodata="!customerList.length" nodata-text="暂无客服数据"></zc-nodata>
	</div>
</div>